@media screen and (max-width:1200px){
    .left .logo{
        font-size: .9rem;
    }
    .nav-section .links a{
        font-size: .6rem;
    }
    .right .btn{
        padding: .8rem 1rem;
     font-size: .8rem;
     
    }
    .fa-arrow-right-long{
        margin-left: .3rem;
    }
    .text-section .main-heading{
        font-size: 2.6rem;
    }

}
