@media screen and (max-width: 1120px) {
  .left .logo {
    font-size: 0.7rem;
  }
  .nav-section .links li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 0.8rem;
  }
  .nav-section .links .fa-chevron-down {
    font-size: 0.6rem;
    color: var(--primary-color);
    margin-left: 0.1rem;
  }
  .right-links li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 0.8rem;
  }
  .right .btn {
    padding: 0.8rem 0.9rem;
    font-size: 0.8rem;
    color: var(---Button-text-color);
    background-color: var(--Button-bg-color);
    border: none;
    border-radius: var(--border-radius);
    margin: 1rem 2rem 1rem 1rem;
  }
  .fa-arrow-right-long {
    margin-left: 0.1rem;
  }
  .right .img-global {
    height: 30px;
  }
  .text-section .main-heading{
    font-size: 3rem;
  }
  .image-section .map-img img{
    width: 400px;
    
  }
  .next--container .section2{
    gap: 2rem;
  }
  .logo-section{
    gap: 3rem;
  }
  .sub-heading{
    font-size: 2rem;
  }
  .idea {
    left: 40%;
  }
  .desc-section{
   gap: 1rem;
   margin: 0;
   margin: 2rem 0 0 1rem;
  } 
  .desc-section .desc1,
  .desc2,
  .decs3 { 
    gap: 1.5rem;
   
  }
  .main--container {
    margin: 0;
  }
  .text-section .info {
    margin-left: 3rem;
   
  }
  .work-section {
    flex-direction: column;
  }
  .text-section-second .text-section-heading{
       text-align: center;
  }
  .text-section-second a ,
  .text-sec-connect a,
  .text-sec-four a  {
    
    font-size: 1.2rem;
    margin: auto;
    
  }
  .text-section-second .lil-desc {
    
    text-align: center;
    
  }
   .image-sec-two img{
    margin-top: 3rem ; 
    margin-left: 4rem;

  }
  .connect-tools{
    flex-direction: column  ;
}
.text-sec-connect .connect-heading{
  
  text-align: center;
  margin: 0;

  margin-top: 2rem;
}
.text-sec-connect .descr{
  margin: 0;
  text-align: center;
}
.front-img {
  width: 90vw;
     margin: 0 auto;
}
.braistroming-main{
  flex-direction: column;
}
.text-sec-four .braistroming-heading{
  font-size: 3rem;
  margin: 0;
}
.text-sec-four .desc-4 {
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
}
.yellow-container{
  width: 100vw;
 
}
.blue-container{
  margin:  auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100vw;
}
.footer{
  width: 100vw;
  height:100vh;
}
.footer .link-section-footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
}

@media screen and (max-width: 1115px) {
  .left .logo {
    font-size: 0.75rem;
  }
  .nav-section .links li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 0.85rem;
  }
  .nav-section .links .fa-chevron-down {
    font-size: 0.65rem;
    color: var(--primary-color);
    margin-left: 0.15rem;
  }
  .right-links li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 0.85rem;
  }
  .right .btn {
    padding: 0.85rem 1rem;
    font-size: 0.85rem;
    color: var(---Button-text-color);
    background-color: var(--Button-bg-color);
    border: none;
    border-radius: var(--border-radius);
    margin: 1rem 2rem 1rem 1rem;
  }
  .fa-arrow-right-long {
    margin-left: 0.15rem;
  }
  .right .img-global {
    height: 32px;
  }
  .text-section .main-heading {
    font-size: 3.2rem;
  }
  .image-section .map-img img {
    width: 420px;
  }
  .next--container .section2 {
    gap: 2.5rem;
  }
  .logo-section {
    gap: 3.5rem;
  }
  .sub-heading {
    font-size: 2.2rem;
  }
  .idea {
    left: 45%;
  }
  .desc-section {
    gap: 1.2rem;
    margin: 2.2rem 0 0 1.2rem;
  }
  .desc-section .desc1,
  .desc2,
  .decs3 {
    gap: 1.7rem;
  }
  .main--container {
    margin: 0;
  }
  .text-section .info {
    margin-left: 3.2rem;
  }
  .work-section {
    flex-direction: column;
  }
  .text-section-second .text-section-heading {
    text-align: center;
  }
  .text-section-second a,
  .text-sec-connect a,
  .text-sec-four a {
    font-size: 1.25rem;
    margin: auto;
  }
  .text-section-second .lil-desc {
    text-align: center;
  }
  .image-sec-two img {
    margin-top: 3.2rem;
    margin-left: 4.2rem;
  }
  .connect-tools {
    flex-direction: column;
  }
  .text-sec-connect .connect-heading {
    text-align: center;
    margin: 0;
    margin-top: 2.2rem;
  }
  .text-sec-connect .descr {
    margin: 0;
    text-align: center;
  }
  .front-img {
    width: 92vw;
    margin: 0 auto;
  }
  .braistroming-main {
    flex-direction: column;
  }
  .text-sec-four .braistroming-heading {
    font-size: 3.2rem;
    margin: 0;
  }
  .text-sec-four .desc-4 {
    font-size: 1.35rem;
    text-align: center;
    margin: 0;
  }
  .yellow-container {
    width: 100vw;
  }
  .blue-container {
    margin: auto;
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
    width: 100vw;
  }
  .footer {
    width: 100vw;
    height: 100vh;
  }
  .footer .link-section-footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 940px) {
  .btn .fa-arrow-right-long {
    display: none;
  }
  .left .logo {
    font-size: 0.7rem;
  }
  .nav-section .links {
    gap: 0.5rem;
  }
  .nav-section .links .fa-chevron-down {
    margin-left: 0.1rem;
    color: var(--primary-color);
  }
  .left .logo {
    font-weight: 600;
    font-size: 0.5rem;
    color: var(--primary-color);
    margin: 0 0.6rem 0 0.9rem;
  }
  .right .right-links {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 860px) {
   .right .right-links {
    display: none;
  }
  .nav-section .links {
    display: none;
  }
  .right .img-global {
    display: none;
  } 
  .log {
    display: unset;
  }

  .log {
    padding: 0.8rem 1.5rem;
    font-size: 0.8rem;
    color: var(---Button-text-color);
    background-color: var(--Button-bg-color);
    border: none;
    border-radius: var(--border-radius);
    margin: 1rem 0rem 1rem 0rem;
    font-size: 1rem;
  }
  .right .btn {
    font-size: 1rem;
  } 
  .hamburgur .line{
    display: unset;
    margin-right: 1rem;
  }
  /* .log{
          margin-right: 10rem;
     }    */
   
  .res-nav{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    padding: 2rem 1rem;
    width: 100vw;
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.144);
    flex-direction: column;
    z-index: 99;
    display: unset;
    margin-top: 4rem;
    
  }
  .res-nav .res-links li{
     list-style: none;
    margin: 1rem;
  }
  .res-nav .res-links a{
    text-decoration: none;
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 1.5rem;
  
  }
  #login{
    display: none;
  }
  #signup{
    display: none;
  }
}

@media screen and (max-width:550px) {
    .log{
        display: none;
    }
    .right .btn{
        display: none;
    }
    .nav-section{
        display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 0.3px solid rgb(248, 240, 240);
  padding: 1rem 0;
    }
    .res-nav .res-links #login{
        display: unset;
        
}
.res-nav .res-links #signup{
    display: unset;
}
}